<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div>
    <h1><a th:href="@{/boards}">게시판</a><h1>
    </div>

    <div>
        <table>
        <thead style="text-align: center;">
            <tr>
                <th style="text-align: center;">순서</th>
                <th style="text-align: center;">작성자</th>
                <th style="text-align: center;">제목</th>
                <th style="text-align: center;">작성일</th>
            </tr>
        </thead>
        <tbody>
            <!--DB-->
        </tbody>
        </table>
    </div>

    <div style="text-align: right;">
        <button onclick="location.href='/boards/insert'">글작성</button>
    </div>

    <br/><br/><br/>
    </div>
</body>
</html>
