
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>spring pilot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    td{
        padding:10px
    }
</style>
<body>
<div class ="container">
    <h6>
        회원등록
    </h6>
    <p>이전결과</p>
    <p th:text="${preResult}?${preResult}:'none'">

    </p>
    <form method="post" action="/user/signupWeb" >
        <label for="userId">아이디</label><br>
        <input type="text" id="userId" name="userId" value=""><br>
        <label for="password">비밀번호</label><br>
        <input type="password" id="password" name="password" value=""><br>
        <label for="nickname">nickname</label><br>
        <input type="text" id="nickname" name="nickname" value=""><br>
        <label for="phone">phone</label><br>
        <input type="text" id="phone" name="phone" value=""><br>
        <label for="locSi">시</label><br>
        <input type="text" id="locSi" name="locSi" value=""><br>
        <label for="locGu">구</label><br>
        <input type="text" id="locGu" name="locGu" value=""><br>

        <input type="submit" value="Submit">
    </form>
    <a href="/user">뒤로가기</a>
</div>

</body>

</html>